<tr>
    <td colspan="5" >
        <div class="empty-data row justify-content-center align-content-center empty-data-table">
            <div class="col">
                Belum ada data
            </div>
        </div>
        </td>
    </tr>