<div class="row mt-4">
  <div class="col text-violet" id="totalTable"></div>
  <div class="col text-end">
    <button type="submit" class="btn btn-primary  rounded-circle fw-bold" >1</button>
    <button type="submit" class="btn btn-outline-primary rounded-circle fw-bold  ">2</button>
    <button type="submit" class="btn btn-outline-primary rounded-circle fw-bold  ">3</button>
  </div>
</div>