<%- include("./template/header") %> 
    Ejs Running
     <div class="row">
        <div class="col-5">wda</div>
        <div class="col-5">dwa</div>
    </div>
    <button class="btn btn-danger">Test Bootstrap</button>
<%- include("./template/footer") %> 