@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #F4F5F7;
    box-sizing: border-box;
    overflow-x: hidden;
}

.card-nav-default{
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: #5E72E4;
    font-weight: 600;
    text-transform: uppercase;
}
.card-nav-active{
    background-color: #5E72E4;
    color: #FFFFFF;
}
.text-label-form{
    color: #383862;
    font-weight: 500;
    font-size: 18px;
}
span.text-child-label{
    color: #828282;
    font-weight: 500;
    font-size: 14px;
}
.icon-nav-active{
    /* background-color: #5E72E4; */
    color: #FFFFFF;
}
.card-default{
    border-radius: 16px;
    padding: 52px 32px 32px 32px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input-form-icon{
    top: 6px;
    left: 12px;
}
/* components */
/* Title Card */
.logo-position{
    margin-bottom: -56px;
    text-align: center;
}
.logo{
    width: 120px;
    height: 120px;
}

/* Navigasi */
.navigasi-user-brand {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
    margin-bottom: 80px;
}
.navigasi-user-logout{
    margin-bottom: 80px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}
.title-card{
    color: #383862;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 38px;
    margin-top: 20px;
    font-size: 32px;
}
/* Css Color */
.bgd-blue {
    background-color: #324CDD;
}
.bgd-green {
    background-color: #2DCE89;
}

.default-btn {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
/* User Style */
.container-user{
    padding: 0 12% ;
}

/* table */
.table-default {
    color: rgba(45, 24, 99, 0.8);
}
.tb-data-reguler{
    font-size: 14px;
}
.tb-data-smBold{
    font-weight: 600;
    font-size: 18px;
}
