<nav class="navbar navbar-light bgd-violet shadow-sm top-navigasi-admin  position-sticky vw-100 top-0 end-0">
  <div class="container-fluid  px-4">
    <a class="navbar-brand text-white" href="#">E-PELAYANAN</a>
    <a class="text-white text-end text-decoration-none" href="#">
      <div class="row align-items-center">
        <div class="col pe-0">KELUAR</div>
        <div class="col ps-0">
          <span class="iconify" data-icon="carbon:logout" style="color: #FFFFFF;" data-width="28" data-height="28"></span>
        </div>
      </div>
    </a>
  </div>
</nav>