<nav class="navbar navbar-light bgd-violet shadow-sm top-navigasi-admin  position-sticky vw-100 top-0 end-0">
  <div class="container-fluid  px-4">
    <a class="navbar-brand text-white" href="/home/pengajuan">E-PELAYANAN</a>
    <a class="text-white text-end text-decoration-none" href="#"  data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="row align-items-center pe-auto">
            <div class="col pe-0" >
              KELUAR
              
            </div>
            <div class="col ps-0">
              <span class="iconify" data-icon="carbon:logout" style="color: #FFFFFF;" data-width="28" data-height="28"></span>
            </div>
          </div>
    </a>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade mt-5 " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="row justify-content-center">
   <div class="col-4 ">
      <div class="modal-dialog">
    <div class="modal-content border-0 ">
      <div class="modal-body text-center pb-0 px-0">
        <span class="iconify mt-4" data-icon="clarity:warning-standard-solid" style="color: #dc3545;" data-width="80" data-height="80"></span>
        <p class="fs-5 my-1 text-danger  ">Apakah Anda Ingin Keluar?</p>
       <div class="row mx-0 mt-4 ">
            <div class="d-grid gap-2 col-6 mx-auto px-0">
                <button type="button" class="btn btn-outline-danger rounded-0 px-0  text-uppercase fs-5" data-bs-dismiss="modal">Tidak</button>
            </div>
           <div class="d-grid gap-2 col-6 mx-auto px-0">
                <button type="button" id="logout" class="btn btn-outline-danger rounded-0 px-0 py-2  text-uppercase fs-5">Ya</button>
           </div>
       </div>
      </div>
    </div>
  </div>
   </div>
 </div>
</div>

<script>
  document.getElementById("logout").addEventListener("click", function () {
    window.location.href = "/keluar";
  } )
</script>