<div class="col-3 position-fixed bg-white px-0 vh-100">
        <ul class="list-group mt-4 list-group-flush text-center">
            <li class="list-group-item ">Ari (Admin)</li>
            <a class="text-decoration-none" href="/home/pengajuan"><li class="list-group-item">PENGAJUAN</li></a>
            <a class="text-decoration-none" href="/home/riwayat"><li class="list-group-item bgd-violet">RIWAYAT</li>        </a>
        </ul>
</div>