<div class="row justify-content-center align-items-center mb-4">
    <div class="col p-1 ">
        <a href="/pengajuan-skm-form" class="text-decoration-none">
        <div class="card card-nav-default card-nav-active">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-5 text-end px-0 pe-1">
                      <span class="iconify" data-icon="ant-design:file-add-twotone" class="icon-nav-active" data-width="28" data-height="28"></span>    
                    </div>
                    <div class="col-5 ps-0">
                        <span>Pengajuan</span>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col p-1 ">
        <a href="/pengajuan-skm-menunggu-verifikasi" class="text-decoration-none">
        <div class="card card-nav-default">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-5 text-end px-0 pe-1">
                        <span class="iconify" data-icon="ic:sharp-access-time" style="color: #5E72E4;" data-width="28" data-height="28"></span>
                    </div>
                    <div class="col-5 ps-0">
                        <span>Menunggu</span>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="col p-1 ">
            <a href="/pengajuan-skm-selesai" class="text-decoration-none">
        <div class="card card-nav-default">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-5 text-end px-0 pe-1">
                        <span class="iconify" data-icon="clarity:success-standard-line" style="color: #5E72E4;" data-width="28" data-height="28"></span>
                    </div>
                    <div class="col-5 ps-0">
                        <span>Selesai</span>
                    </div>
                </div>
            </div>
        </div>
    </a>
    </div>
</div>