
   <div class="row mt-3">
   <div class="col">
      <p class="fs-4 text-uppercase mb-1 text-violet">E-Pelayanan</p>
      <p class="fs-5  mb-0">Salam pengabdian.</p>
   </div>
   <div class="col text-end">
      <span class="iconify ms-1" data-icon="entypo-social:facebook-with-circle" data-width="44" style="color: #3B5998;" data-height="44"></span>
      <span class="iconify ms-1" data-icon="entypo-social:instagram-with-circle" data-width="44"style="color: #E1306C;" data-height="44"></span>
      <span class="iconify ms-1" data-icon="entypo-social:twitter-with-circle" data-width="44"style="color: #1DA1F2;" data-height="44"></span>
   </div>
</div>
<hr>
<div class="row">
   <div class="col">
    &#169;  2022 <span class="text-violet text-uppercase">E-Pelayanan</span>
   </div>
</div>