<div class="row mt-4">
        <div class="col navigasi-user-brand">e-pelayanan</div>
        <div class="col text-end align-self-center navigasi-user-logout ">
                <a href="/keluar">
                        keluar <span class="iconify" data-icon="carbon:logout" style="color: #828282;" data-width="28" data-height="28"></span></div>
                </a>
</div>